@import "themes";

//Disables selecting of text inside buttons
.createpost-wrapper{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: $background;
}

//Styles the overlay beneath the modal
.createpost-overlay{
  visibility: visible;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

//Defines position, size, margin and padding of the modal, styles its border
.createpost {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 106;
  transition: 0.2s;
  font-family: "adelle-sans", sans-serif;
  background: #fff;
  margin: 5rem auto 0 auto;
  padding: 2rem;
  border-radius: 1rem;

  @media screen and (min-width: 480px) {
    width: 28rem;
  }
  @media screen and (min-width: 767px) {
    width: 40rem;
  }
  @media screen and (min-width: 959px) {
    width: 50rem;
  }

}

//Styles all the buttons
.submit, .createpost-open, .createpost-slider, .close-modal{
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: white;
  transition: 0.2s;
  border: none;
  display: block;
}

//Styles the close button, centers the symbol inside, fixes it to the top right corner of the modal
.close-modal{
  position:absolute;
  float:right;
  z-index: 107;
  width: 3rem;
  top:-1rem;
  right:-1rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

//Styles the title input field and its border, defines its size
.title{
  width:100%;
  border: none;
  border-bottom: solid 1px $primary-color;
  font-size: 1.5rem;
  padding:0;
  margin:0 0 1rem 0;
}

//Styles the submit button, defines its size
.submit{
  height: 2.5rem;
  width: 20rem;
  margin: 1rem auto 0 auto;
  background-color: $primary-color;
}

//Styles the open button, centers the symbol inside, fixes it to the bottom right corner
.createpost-open{
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: $primary-color;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

//Styles the slider and the text within, fixes it under the open button
.createpost-slider{
  background-color: white;
  height: 1.1rem;
  width: 0.2rem;
  text-align: center;
  padding: 0.5rem 0;
  position: fixed;
  right: 3.5rem;
  bottom: 1.80rem;
  color: black;
  border: solid 2px $primary-color;
  z-index: 1;
  vertical-align: middle;
  line-height: 1.1rem;
  overflow: hidden;
}

//Styles the quill textfield border
.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border: 1px solid $primary-color;
}

//Shows grey shadow whenever user hovers over the buttons
.submit:hover, .createpost-open:hover{
  box-shadow: 4px 4px 4px grey;
}

//Changes the color of close button upon hover
.close-modal:hover{
  background-color: darken($primary-color, 7%);
}

//Changes the size of the slider upon open button hover
.createpost-open:hover + .createpost-slider{
  width: 10rem;
}

//Removes blue outline after clicking the button
.submit:focus, .content:focus, .title:focus, .createpost-open:focus, .close-modal:focus{
  outline: none;
}

//Styles the border of the title input field on focus
.title:focus{
  border-bottom: solid 1px $primary-color;
}

//Defines the size of the react-quill textfield
.ql-editor{
  height: 400px;
}