@import "themes";

//Defines the size, shadow, font, border and background of the lilpost, centers it horizontally in the browser
.lilpost {
  transition: 0.2s;
  background: #fff;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  margin: 0 auto;
  width: 20rem;
  z-index: -1;
  border: solid 2px #fff;
  @media screen and (min-width: 480px) {
      width: 28rem;
  }
  @media screen and (min-width: 767px) {
      width: 40rem;
  }
  @media screen and (min-width: 959px) {
    width: 50rem;
  }

}

//Defines size, padding and margin, styles the text in the header, adds border on the bottom
.lilpost-header{
  font-size: 20px;
  text-align: center;
  border-bottom: solid 2px #192a56;
  width: 80%;
  margin: 1px auto;
  padding: .5rem 0;
}

//Defines size, styles the text in the body, adds border on the bottom
.lilpost-body {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  text-align: justify;
  max-height: 12.5rem;
  border-bottom: solid 2px #192a56;
}

//Defines size, margin and padding of the footer
.lilpost-footer{
  width: 80%;
  margin: 1px auto;
  min-height: 3rem;
  padding: 0.5rem;
}

//Disables copying of the contents of a lilpost, adds space between lilposts and other components
.lilpost-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background:   $background;
  padding: 1.25rem;
}

//Shows shadow and changes cursor upon hover
.lilpost:hover{
  box-shadow: 4px 4px 4px grey;
  cursor: pointer;
}

//Changes the style of the list in footer
.lilpost-footer ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

//Centers vertically contents of the list in footer
.lilpost-footer li {
  margin: auto 0;
 }

//Adds margin to the buttons, sets their default color
.interactive-button{
  color: black;
  margin: auto 0.6rem auto 1.8rem;
}

//Changes the color of the buttons upon hover
.interactive-button:hover{
  color: $primary-color;
}

//Buttons stay in color after being clicked on
i.active{
  color: $primary-color;
}

//Changes the cursor upon button hover if already liked/disliked
i.active:hover{
  cursor:default;
}

//Fixes username to the top left corner in footer
.lilpost-username-wrapper{
  position: relative;
  top:-3rem;
}
.hover:hover{
  color:$primary-color;
}