/*div{
    width: 850px;
    height: 250px;
    left: 25%;
    position: fixed;
}*/
.card {
    background-color: #00a8ff;
    border-color: #00a8ff;
    border-width: 3px;
}
/*.card-header{
    backgroundColor: #00a8ff;
    fontSize: 24px;
}*/
card-body{
    background-color: #00a8ff;
}
