@import "themes";
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

//Defines style shared by all of the sub-divs, centers the LilPost
.lilpost {
  transition: 0.2s;
  background: white;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  z-index: -1;
  @media screen and (min-width: 480px) {
      width: 28rem;
  }
  @media screen and (min-width: 767px) {
      width: 40rem;
  }
  @media screen and (min-width: 959px) {
    width: 50rem;
  }

}
//Styles the title and creates the line at the bottom of the header
.lilpost-header{
  font-size: 20px;
  text-align: center;
  border-bottom: solid 2px #192a56;
  width: 80%;
  margin: 1px auto;
  padding: 0.5rem;
}

//Styles the previewed content and creates the line at the bottom of the previewed conent
.lilpost-body {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  text-align: justify;
  max-height: 12.5rem;
  border-bottom: solid 2px #192a56;
}

//Determines the position of the pictures in the footer
.lilpost-footer{
  width: 80%;
  margin: 0 auto;
  height: 3.5rem;
  padding: 0.5rem;
}

//Denies the selection of the text inside the LilPost, removes white background and adds some space
.lilpost-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background:   #f5f6fa;
  padding: 1.25rem;
}

//Shows shadow when hovered over, cursor changes to pointer for the LilPost is supposed to be a link
.lilpost:hover{
  box-shadow: 4px 4px 4px grey;
  cursor: pointer;
}

//Prevents default look of a list, shows the contents at right-hand side
.lilpost-footer ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

//Centers the items in the list (from bottom and top)
.lilpost-footer li {
  margin: auto 0;
}

//Alternates the default look of the buttons (comments, likes, dislikes)
.interactive-button{
  color: black;
  margin: auto 0.6rem auto 1.8rem;
}

//Buttons change color whenever hovered over
.interactive-button:hover{
  color: $primary-color;
}