@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');
/*hides the page when needed*/
#sidebar-wrapper {
    display: block;
}

/*stays,when page is scrolled, is 100% of the page tall and 250px wide. It is in front of everything else.*/
#sidebar {
    display: flex;
    z-index: 100;
    width: 250px;
    height: 100vh;
    position: fixed;
    background: #9c88ff;
    flex-direction: column;
}

/*focuses the user on the sidebar*/
.sidebar-opaciter {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}
//dims background
.sidebar-opaciter :active {
    display: block;
    opacity: 1;
}
//css for all buttons
.sbtn {
    display: block;
    color: white;
    height: 35px;
    width: 35px;
    padding: 10px;
    transition: 0.2s;
}

//style for the closing arrow
.sclose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9c88ff;
}

//hover style for the closing arrow
.sclose:hover{
    box-shadow: 4px 4px 4px #575757;
    background-color: #f5f6fa;
    color: #8c7ae6;
}
//Gyarab Forum
.sidebar-header {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    background-color: #8c7ae6;
}
// searchbox wrapper
.search-wrapper {
    background-color: #8c7ae6;
    /*margin-top: 5px;*/
    font-family: 'Poppins', sans-serif;
}
//text field of the search area
#sidebar-search-text {
    outline: none;
    border: none;
    background: none;
    color: white;
    width: 213px;
    padding-left: 8px;
}
//creates scrollbar when there is not enough space on the display to show all forums
.forums{
    overflow-y: auto;
}
//Each forum is one item
.sidebar-item {
    text-decoration: none;
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    color: white;
    background-color: #9c88ff;
}
//styles for items' behaviour on hover
.sidebar-item:hover {
    text-decoration: none;
    background-color: #f5f6fa;
    color: #9c88ff;
}
//style for the opening arrow
.sopen{
    position: absolute;
    top: 10px;
    right:8px;
    background-color: #9c88ff;
}
//...and it's behaviour upon hover
.sopen:hover{
    box-shadow: 4px 4px 4px grey;
}
//small container on the left side holding the opening arrow
.sider {
    position: fixed;
    z-index: 100;
    width: 51px;
    height: 100vh;
}