@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');
@import "themes";

//Fixes the sidebar to the side, regardless the scroll or the wibdow size
#sidebar {
    display: flex;
    z-index: 100;
    width: 300px;
    height: 100vh;
    position: fixed;
    background: $primary-color;
    flex-direction: column;
}

//Used to keep the user's focus on the sidebar
.sidebar-opaciter {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

//Defines the style of the buttons
.sbtn {
    cursor: pointer;
    display: block;
    color: white;
    height: 15px;
    width: 15px;
    padding: 10px;
    transition: 0.2s;
}

//Specific style for the closing button on the top right of the sidebar
.sclose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $primary-color;
}

//Specific hover style for the closing button
.sclose:hover{
    box-shadow: 4px 4px 4px #575757;
    background-color: $background;
    color:  $secondary-color;
}
//Styling for the upper part of the sidebar, containing the name of the site and auth. button
.sidebar-header {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    background-color:  $secondary-color;
}

//Styling for the container of the search box
.search-wrapper {
    background-color: $secondary-color;
    /*margin-top: 5px;*/
    font-family: 'Poppins', sans-serif;
}
//Styling for the input inside the wrapper
#sidebar-search-text {
    outline: none;
    border: none;
    background: none;
    color: white;
    width: 253px;
    padding-left: 8px;
}
//Shows a scrollbar in case there is not enough space to show all sidebar-items
.forums{
    overflow-y: auto;
}
//Styling for each individual forum NavLink
.sidebar-item {
    text-decoration: none;
    display: block;
    font-size: 15pt;
    position: relative;
    width: 93%;
    padding: 10px;
    color: white;
    background-color: $primary-color;
}
.auth{
    font-size: 12pt;
}
//Styles for sidebar-item's behaviour on hover
.sidebar-item:hover, .create-input:hover, .create-submit:hover {
    text-decoration: none;
    background-color: $background;
    color: $primary-color;
}
//Styling for the button shown only when the sidebar is closed
.sopen{
    position: absolute;
    top: 10px;
    right:8px;
    background-color: $primary-color;
}
//...and for it's behaviour upon hover
.sopen:hover{
    box-shadow: 4px 4px 4px grey;
}
//Styling for the small container on the left side holding the opening button
.sider {
    position: fixed;
    z-index: 100;
    width: 51px;
    height: 100vh;
}
.create-input{
    background:$primary-color;
    border: none;
    text-decoration: none;
    display: block;
    font-size: 15pt;
    position: relative;
    padding: 10px;
    color: white;
    width:93%;
}
.create-input:focus, .create-submit:focus{
    outline: none;
    border:none;
}
.create-input::placeholder{
    color: white;
}
.create-submit {
    padding: 10px;
    color: white;
    background: $primary-color;
    border: none;
    font-size: 15pt;
    width:100%;
    text-align: left;
}
.create-submit:hover{
    cursor:pointer;
}