@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');
/*hides the page when needed*/
#sidebar-wrapper {
    display: block;
}

/*stays,when page is scrolled, is 100% of the page tall and 250px wide. It is in front of everything else.*/
#sidebar {
    z-index: 100;
    width: 250px;
    height: 100vh;
    position: fixed;
    background: #9c88ff;
}

/*focuses the user on the sidebar*/
.sidebar-opaciter {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.sidebar-opaciter :active {
    display: block;
    opacity: 1;
}

.sbtn {
    display: block;
    color: white;
    height: 35px;
    width: 35px;
    padding: 10px;
    transition: 0.2s;
}
.sclose:hover{
    box-shadow: 4px 4px 4px #575757;
}

.sclose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9c88ff;
}

.sclose:hover {
    background-color: #f5f6fa;
    color: #8c7ae6;
}

.sidebar-header {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    background-color: #8c7ae6;
}

.search-wrapper {
    background-color: #8c7ae6;
    /*margin-top: 5px;*/
    font-family: 'Poppins', sans-serif;
}

#sidebar-search-text {
    outline: none;
    border: none;
    background: none;
    color: white;
    width: 213px;
    padding-left: 8px;
}

.sidebar-item {
    text-decoration: none;
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    color: white;
    background-color: #9c88ff;
}

.sidebar-item:hover {
    text-decoration: none;
    background-color: #f5f6fa;
    color: #9c88ff;
}

.sopen{
    position: absolute;
    top: 10px;
    right:8px;
    background-color: #9c88ff;
}
.sopen:hover{
    box-shadow: 4px 4px 4px grey;
}

.sider {
    position: fixed;
    z-index: 100;
    width: 51px;
    height: 100vh;
    /*background-color: #8c7ae6;*/
}