@import "themes";

//Centers and stlyes the button
.load-more{
  background-color: $primary-color;
  cursor: pointer;
  height: 2.5rem;
  width: 20rem;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: white;
  transition: 0.2s;
  border: none;
  display: block;
  @media screen and (min-width: 320px) {
    width: 17.5rem;
  }
  @media screen and (min-width: 380px) {
    width: 21.2rem;
  }
}

//Creates some space between the button and other components, removes white background and user can't select text inside of the button
.load-more-wrapper{
  padding: 1.25rem 0 2.5rem 0;
  background: $background;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Styles the noposts div, centers it vertically and horizontally
.noposts{
  background-color: $primary-color;
  height: 2.5rem;
  color: white;
  border: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  @media screen and (min-width: 320px) {
    width: 17.5rem;
  }
  @media screen and (min-width: 380px) {
    width: 21.2rem;
  }
  @media screen and (min-width: 440px) {
    width: 24rem;
  }
  @media screen and (min-width: 480px) {
    width: 28rem;
  }
  @media screen and (min-width: 767px) {
    width: 40rem;
  }
  @media screen and (min-width: 959px) {
    width: 50rem;
  }
}

//Does not change cursor upon hover over noposts div
.noposts:hover{
  cursor: default;
}

//Shows grey shadow wehenever user hovers over the button
.load-more:hover{
  box-shadow: 4px 4px 4px grey;
}

//Removes blue outline after clicking the button
.load-more:focus{
  outline: none;
}